@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "sass:color";

.dashboard-layout {
    display: flex;
    min-height: 100vh;
    background-color: $bg-light;
}

.dashboard-layout__content {
    flex: 1;
    margin-left: $sidebar-width;
    margin-top: $header-height;
    padding: 60px;
    min-height: calc(100vh - $header-height);

    @include tablet {
        margin-left: $sidebar-width;
        padding: 40px 30px;
    }

    @include mobile {
        margin-left: 0;
        margin-top: 80px;
        padding: 24px 16px;
    }
}
